$fonts-headline: 'Overlock', cursive;;
$fonts-body: verdana, arial, sans-serif;
$background-color: #EEEEEEFF; // White-ish
$primary: rgba(52,143,226,0.7); // Transparent blue
$accent1: #2d353c; // Dark Gray
$accent2: #348fe2; // Blue
$accent3: #2cc190; // Green
$grey-sidebar: rgba(45, 53, 60, 0.9);
$text-dark: #2d353c;
$text-light: #fff;
